{
  "singleQuote": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "src/pages/_test/code.mdx",
      "options": {
        "embeddedLanguageFormatting": "off"
      }
    }
  ]
}
